<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, maxlength: 140, placeholder: "Compose new micropost..." %>
  </div>
  <span class="countdown"></span><br><!-- http://stackoverflow.com/questions/10234939/add-a-javascript-display-to-the-home-page-to-count-down-from-140-characters-ra -->
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>

<% end %>



