<% hide_detail ||= false %>
<% @user ||= current_user %>

<%= link_to gravatar_for(@user), user_path(@user) %>

<h1><%= @user.name %></h1>

<% unless hide_detail %>
  <span><%= link_to "view my profile", @user %></span>
  <span><%= pluralize(@user.microposts.count, "micropost") %></span>
<% end %>
